* {
    /*-webkit-user-select: none;*/
}

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    
    font-size:14px;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    border:0;
    position: fixed;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

hr {border: 0; height: 12px; box-shadow: inset 0 12px 12px -12px orange; margin-top: 5%; margin-bottom: -5%;}

/*Inicio estilos de la cabecera*/
#header {
    z-index:2;
    position: fixed;
    top:0; left:0;
    width:100%;
    background: #FBC636;
    border-bottom: 1px solid #0e5771;
    padding:0;
    color:#eee;
    font-size:14px;
    line-height: 45px;
    text-align:center;
    height: 45px;
}

#header .btn {
    position: absolute;
    top: 5px;
    left: 5px;
    width:10%;/*9*/
    line-height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#header a div{


    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid black;
}


.logo{
    height:32px; 
    width: auto;
    margin-top:6px;
    border-radius: 15px 0 15px 0;
    }

.logo.casco{
    margin-left: 20px;
}

.logo.agregar{

    height:62px; 
    float: right;
    margin-right: -10px;
    margin-top: -8px;
}

#agregar_proyecto{

 cursor: pointer;
 width: 600px;


}
/*Fin estilos de la cabecera*/

/*Inicio estilo del cuerpo*/
#cuerpo{
    background:#fff;
    position:absolute;
    width: 100%;
    height:100%;
}

#cuerpo h1{
    font-size:20px;
    line-height:30px
}

.borde-h1{
    width:5px;
    float:left;
    height:30px;
    margin-right:5px
}

#contenidoCuerpo{
    margin:10px
}

#lista-vacia{
    background-color: #E3E3E3;
    padding: 10px;
    border-radius: 15px 0 15px 0;
    width: 80%;
    display: inline-block;
    margin-top: 30px;
    position: inherit;
    margin-left: 5%;
    font-size: Arial;
    opacity: 0.6;
    box-shadow: 10px 5px 10px #f0f0f0;
}

#lista-vacia img{
  
    width: 50px;
    margin-top:-10px;
    float: right;
}
#img_contenedor{
    margin-top: 180px;
    margin-left: 90px;
    width: 40%;
    opacity: 0.5;
}


#contenedor{
   width: 100%;
    margin: 0;
    background: white;
    height: 400px;

}


#simple h1, #divCalculoDinero h1, #divVideoYoutube h1, #contenedor-tabla h1, #contenedor-imagen-ceramica h1, #divDragDrop h1{

    text-align: center;
    font-family: 'Contra';
}


#formularioCalculoDinero p{

    font-family: 'Contra';
}





#cuadroResultados{
    font-family: 'Contra';
    width: 100%;
    padding: 5px;
    margin-left: -1.9%;
    background: #f0f0f0;
    border-radius: 8px 0 8px 0;

}

#superficie_total, #total_metros, #total_cajas, #total_precio, #caja_precio, #excedente, #resultado{
    margin-bottom: -3.1%;
    font-size: 12px;
    margin-left: 4%;
}

#resultado{
    margin-bottom: 4%;
}

#divCalculoDinero, #divVideoYoutube, #contenedor-tabla, #contenedor-imagen-ceramica, #simple, #divDragDrop{

    font-family: 'Contra';
    width: 90%;
    border: 1px solid black;
    padding: 5px;
    margin-left: 10px;
    background: #f0f0f0;
    border-radius: 8px 0 8px 0;

}







#formulario input, #formularioCalculoDinero input{

    display: block;
    border: 2px solid #000;
    height: 30px;
    padding: 6px;
    margin: 2px;
    width: 250px;
}



#formulario img{
    width: 55px;
    display: inline;
}

#formulario p{
    
    font-family: 'Contra';
    margin-top: -40px;
    margin-left: 60px;
    letter-spacing: 3px;
}

#formulario button, #btn_guardar, #btn_calcular, #btnVerCeramica, #btnGuardarCeramica, #btnDeshacer, #btnRotar{

    width: 95%;
    margin-left: 7px;
    margin-top: 20px;
    font-family: 'Contra';
    background: black;
    color: white;
    height: 45px;
    padding: 5px;
    letter-spacing: 3px;
    border: none;
}


.compartir-btn-espacio{
    width: 45%;
    margin-left: 7px;
    margin-top: 20px;
    font-family: 'Contra';
    background: black;
    color: white;
    height: 45px;
    padding: 5px;
    letter-spacing: 3px;
    border: none;
}



img#imgLugar{

    display: none;
    height: 130px;
    width:  95%; /*265*/
    /*margin-right: -10px;*/
    margin: 0% auto;
  

}


#ic_left, #ic_right, #texto_izquierda, #texto_derecha{

  display: inline-block;
  width: 40%;
  padding: 0;
  text-align: center;

}

#ic_left img{
    margin-right: -50px;
}

#ic_right img{
   
    margin-left: 0px;
}


#texto_izquierda{
    margin-left: 20px;
}


#texto_izquierda, #texto_derecha{
    margin-bottom: 10px;
    font-family: 'Contra';
    font-weight:bold;
    font-size: 14px;
    box-shadow: 0px 2px 5px rgb(119, 111, 70);
}



#formulario input::-webkit-input-placeholder {
  background: #FFF;
  color: #737373;
  font-size: 12px;
  letter-spacing: 1px;
}

#formularioCalculoDinero input::-webkit-input-placeholder {
  background: #FFF;
  color: #737373;
  font-size: 12px;
  letter-spacing: 1px;
}



/*Final estilos del cuerpo*/








/* Estilos Lista de proyectos */

 #rojo, #celeste, #amarillo, #naranjo{
    float: left;
    margin-top: 7px;
    border-radius: 5px;
    width: 50px;
    height: 50px;

 }


 #rojo{
        background: red;
 }

 #celeste{
        background: #3398dc;
 }

 #amarillo{
        background: #f4c601;
 }

 #naranjo{
     background: #f9870b;
 }

 ul#lista-proyectos{

    list-style: none;
    border: 1px solid black;
    margin-top: -10px;
    

 }

 ul#lista-proyectos li{

   background-color: white;
   height: 60px;
   margin-bottom: 2px;
   border: none;
 }


 .informacion{
   float: left;
   width: 80%;
   height: 45px;
   padding: 2px;
   color: black;
   margin-top: -60px;
   margin-left: 35px;
   position: relative;
 }


 .informacion span{

    
    float: left;
    margin-right: 5px;
 }

 .fecha-proyecto{
    font-style: italic;
    margin-top: -25px;
    margin-left: 160px;
    position: relative;
    font-size: 9px;
    font-weight: bold;
 }

 img.imgThumbUp{
    width: 20px;
    height: 20px;
    margin-left: -255px;
    margin-top: 28px;
    position: relative;
 
 }

 span.span-tipo{
    margin-left: 18px;
    margin-top: -10px;
    font-size: 13px;
 }

 .id_proyecto{
    display: none;
 }

 #listaProyecto{
    background: white;
    height: 50px;
    width: 100%;
 }

 #listaProyecto h1{
    font-size: "Contra";
    text-align: center;
 }

 /*Fin estilo lista de proyectos*/






/*Inicio estilos del menu principal*/
#menuprincipal{
    background:url(../img/fondo.jpg) repeat;
    position:absolute;
    width: 80%;
    height: 100%;
}

#wrapperMenu {
    position:absolute; z-index:1;
    top:0;
    bottom:0; left:0;
    height:100%;
    width:100%;
    overflow:auto;
}

.borde-menu{
    width:5px;
    float:left;
    left:0px;
    height:100%;
    margin-right:10px
}

.color1{
    background:#2ed877;
}

.color2{
    background:#3398dc;
}

.color3{
    background:#f4c601;
}

.color4{
    background:#fa5039;
}

.color5{
    background:#f9870b;
}

.color6{
    background:#00c8a4;
}
/*Fin del estilo del menu principal*/

/*Inicio estilos de las capas internas de los iscroll, tanto cuerpo como menu*/


.scroller ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}

.scroller li:first-child {
    padding:0 10px;
    border-bottom:1px solid #202328;
    border-top:1px solid #202529;
    background-color:#202529;
    height:44px;
    line-height:44px;
    font-size:14px;
    text-align:center;
}

.scroller li {
    border-bottom:1px solid #202328;
    border-top:1px solid #202529;
    background-color:#181c1f;
    height:88px;
    color:#fff
}


.li-menu-activo{
    background-color:#323a40 !important;
}

.scroller li a{
    width:100%;
    text-decoration: none;
}

.scroller li .opcion{
    width:100%;
    padding-top:20px;
    font-size:16px;
    text-shadow: 0 1px #000;
}

.scroller li .descripcion{
    width:100%; 
    padding-top:10px;
    color:#6e7679;
    font-size:12px;
    text-shadow: 0 1px #000;
    padding-bottom:25px
}
/*Fin estilos de las capas internas de los iscroll, tanto cuerpo como menu*/

/*Inicio c—digo de posici—n y transici—n de las p‡ginas*/
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.right {
    -webkit-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
}
 
.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}






/*SWIPE*/

.scroller {
    position:absolute; z-index:1;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    width:100%;
    padding:0;
}
#wrapper_swipe { height:100%; border:1px solid #cecece; margin: 0 auto; background: #dedede; }


.slidepage-container { height:330px; position:relative; overflow: hidden;  background:#cecece;  }
.slidepage-container .content { padding:15px;}

.psPage { position: absolute; top: 0; left: 0; width: 100%; height: 100%; -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.psPage.left { -webkit-transform: translate3d(-100%, 0, 0); transform: translate3d(-100%, 0, 0); }
.psPage.center { -webkit-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.psPage.right { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); }
.psPage.transition { -webkit-transition-duration: .25s; transition-duration: .25s; }

/*FIN SWIPE*/











/*Fin c—digo de posici—n y transici—n de las p‡ginas*/


/*FUENTES*/

@font-face {
    font-family: 'Contra';
    src: url('../fonts/contra-webfont.eot');
    src: url('../fonts/contra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/contra-webfont.woff') format('woff'),
         url('../fonts/contra-webfont.ttf') format('truetype'),
         url('../fonts/contra-webfont.svg#contraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*Listado de ceramicas*/

.imagen_ceramica{

    float: left;
    margin-top: 7px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
}


 span.span-uso{
    margin-left: -141px; /*Disminuir mueve a la derecha; aumentar hacia la izquierda*/
    margin-top: -20px;
    font-size: 10px;
    color: black;
    font-family: 'Contra';
    font-weight: bold;
}

span.info_uso{
    margin-left: 0px;
    margin-top: -10px;
    font-size: 10px;
    color: black;
    font-family: 'Contra';
    font-weight: bold;


}

span.span-dimension{
    
    margin-left: -85px; /*aumentar mueve hacia la izquierda; disminuir hacia la derecha*/
    margin-top: 13px;
    font-size: 10px;
    color: black;
    font-family: 'Contra';
    font-weight: bold;
    position: absolute;
}


span.info_dimension{

    margin-left: 107px; /*disminuir mueve hacia la izquierda; aumentar hacia la derecha*/
    margin-top: 13px;
    font-size: 10px;
    color: black;
    font-family: 'Contra';
    font-weight: bold;
    position: absolute;

}


span.span-precio{

    margin-left: 52px;/*aumentar mueve a la derecha*/
    margin-top: 25px;
    font-size: 10px;
    color: black;
    font-family: 'Contra';
    font-weight: bold;
    position: absolute;


}


span.info-precio{

    margin-left: -52px; /*Disminuir move a la drecha; aumentar a la izquuierda*/
    margin-top: 25px;
    font-size: 10px;
    color: black;
    font-family: 'Contra';
    font-weight: bold;
    position: absolute;


}

.contenedor-ceramica{

    width: 100%;
    height: 63px;
}

.btn-mas-info{


    margin-left: 260px;
    margin-top: 50px;/*aumentar*/
    top:30px;
    height: 20px;
    width: 20px;
    text-align: center;
    position: absolute;
}



.id-listado-ceramica{
    display: none;
}

/*FIN LISTADO CERAMICa*/

/*Tabla Detalles Cerámicas*/
#tablaFichaT {
height: auto;
padding-left: 0px;
padding-right: 18px;
padding-top: 18px;
width: 292px;
}

.tituloFT {
border-bottom: 1px solid #CCC;
color: #666;
font-size: 11px;
padding: 6px 0 6px 8px;
font-weight: bold;
}

tr#fila2 {
background-color: #f0f0f0;
}

tr#fila1 {
background-color: #fff;
}

.contFT {
border-bottom: 1px solid #CCC;
color: #666;
font-size: 10px;
padding: 6px 0 6px 8px;
}

#contenedor-btn{

    width: 100%;
    margin-top: 20px;
    margin-left: -7px;
}
/*FIN TABLAS*/

#btnVerCeramica, #btnGuardarCeramica{

    display: inline-block;
    width: 35%;
    font-size: 9px;
}

#btnGuardarCeramica{
    position: absolute;
    width: 90px;
}

#btnVerCeramica{
    width: 90px;

}


#imgGps{

    
    margin-left: 200px;
    margin-top: -44px; /*aumentar para subir*/
    font-size: 11px;
    font-family: 'Contra';
    border:1px solid black;
    width: 22%;
    height: 32px;
    padding: 5px;

}


#imgVerTiendaGPS{

    width: 20px;
    height: 20px;
    margin-top:-5px;
    margin-left:17px;


}

span#verTienda{
    margin-top: 21px;
    position: absolute;
    margin-left: 4px;

}

#imgCeramicaWallpaper{
    width: 100%;
    margin: 0 auto;
    height: 280px;
}

#contenedorCeramicaAgregada{
    width: 10%;
    margin-left: 81%;
    margin-top: -26%;


}

#txtCeramicaAgregada{
 font-size: 12px;
 margin-left: -20%;


}

#imgCeramicaAgregada{
    width: 150%;


}

#map-canvas{ 
                width:100%; 
                height:400px; 
            }
h1#h1ComoLlegar{

font-size: 13px;
font-family: 'Contra';
background: white;
margin-top: 15px;
margin-left: -3px;
line-height: 30px;
} 
/*DRAG DROP*/
#fotografia{
position: relative;
width: 100%;
height: 250px;
background-color: #ccc;
opacity: 1.0;
}


#resizeMe {
position: absolute;
width: 50%;
height: 200px;
top: 70px;
cursor: move;
opacity: 1.0;
background-position: -190px -20px;
background-repeat: no-repeat;
border: 3px solid #E7EBDF;
}

#resizeSE, #resizeE, #resizeNE, #resizeN, #resizeNW, #resizeW, #resizeSW, #resizeS, #resizeA, #resizeB {
position: absolute;
width: 8px;
height: 8px;
background-color: #333;
border: 1px solid #fff;
overflow: hidden;
}


#resizeSE {
bottom: -10px;
right: -10px;
cursor: se-resize;
}

#resizeE {
top: 50%;
right: -10px;
margin-top: -5px;
cursor: e-resize;
}

#resizeNE {
top: -10px;
right: -10px;
cursor: ne-resize;
}

#resizeN {
top: -10px;
left: 50%;
margin-left: -5px;
cursor: n-resize;
}

#resizeNW {
top: -10px;
left: -10px;
cursor: nw-resize;
}

#resizeW {
top: 50%;
left: -10px;
margin-top: -5px;
cursor: w-resize;
}

#resizeS {
bottom: -10px;
left: 50%;
margin-left: -5px;
cursor: s-resize;
}

#resizeA {
bottom: -10px;
left: 100%;
margin-left: -5px;
cursor: s-resize;
}

#resizeB {
bottom: 58px;
left: 0%;
margin-left: -5px;
cursor: s-resize;
}



#resizeSW {
left: -10px;
bottom: -10px;
cursor: sw-resize;
}

#contenedorCeramicasDrag{

    width: 100%;
    height: 100px;
    border: 1px solid black;
}
#fila9Ceramicas{
    margin: 1px;
}

.ceramicaDrag{
 width: 40px;
 height: 40px;

    
}

#control{
    width: 90%;
    height: 30px;
}

#controlDrag{
font-family: 'Contra';
font-size: 14px;
padding: 2px;
position: absolute;
margin-top: 5px;
margin-left: 50px;
box-shadow: 1px 1px 1px 0.9px rgba(0, 0, 0, 0.48);

}

#btnAgrandar, #btnReducir{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 2px;
}

#btnAgrandar{
background-color: black;
color: white;
font-size: 10px;
margin-left: 120px;
}


#btnReducir{
     background-color: black;
     margin-left: 8px;
}

#imgMas{
    width: 10%;
    height: 10%;
}

#hrDrag{
margin-top: 1%;
margin-bottom: -2%;
box-shadow: inset 0 11px 12px -14px black;
}

#insideParent,#insideParent2,#insideParent3,#insideParent4,#insideParent5,#insideParent6,#insideParent7,#insideParent8,#insideParent9,#insideParent10,#insideParent11,#insideParent12{

    width: auto;
    height: auto;
    margin-left: 2px;
    margin-top: 2px;
    opacity: 1.0;
    position: absolute;
    top:356px;
    left:40px;
}

.buttonDrag{
width: 30%;
height: auto;
margin-left: 60px;
position: absolute;
margin-top: 23px;
}

.status{

    margin-left: 160px;
}

#btnDeshacer, #btnRotar{

    margin-top: -0.2px;
    height: 40px;
}

#slcLugarDeVenta {
font-family: 'Contra';
border: 2px solid #FBC636;
top: 17px;
margin-left: 75px;
position: absolute;
font-size: 11px;
width: 70%;
}