* {
    /*-webkit-user-select: none;*/
}

body {
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    
    font-size:14px;
    height:100%;
    width:100%;
    padding:0;
    margin:0;
    border:0;
    position: fixed;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*Inicio estilos de la cabecera*/
#header {
    z-index:2;
    position: fixed;
    top:0; left:0;
    width:100%;
    background: #FBC636;
    border-bottom: 1px solid #0e5771;
    padding:0;
    color:#eee;
    font-size:14px;
    line-height: 45px;
    text-align:center;
    height: 45px;
}

#header .btn {
    position: absolute;
    top: 5px;
    left: 5px;
    width:9%;
    line-height: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}



.logo{
    height:32px; 
    width: auto;
    margin-top:6px;
    border-radius: 15px 0 15px 0;
    }

.logo.casco{
    margin-left: 20px;
}

.logo.agregar{

    height:62px; 
    float: right;
    margin-right: -10px;
    margin-top: -8px;
}

#agregar_proyecto{

 cursor: pointer;
 width: 600px;


}
/*Fin estilos de la cabecera*/

/*Inicio estilo del cuerpo*/
#cuerpo{
    background:#fff;
    position:absolute;
    width: 100%;
    height:100%;
}

#cuerpo h1{
    font-size:20px;
    line-height:30px
}

.borde-h1{
    width:5px;
    float:left;
    height:30px;
    margin-right:5px
}

#contenidoCuerpo{
    margin:10px
}

#lista-vacia{
    background-color: #E3E3E3;
    padding: 10px;
    border-radius: 15px 0 15px 0;
    width: 80%;
    display: inline-block;
    margin-top: 30px;
    position: inherit;
    margin-left: 5%;
    font-size: Arial;
    opacity: 0.6;
    box-shadow: 10px 5px 10px #f0f0f0;
}

#lista-vacia img{
  
    width: 50px;
    margin-top:-10px;
    float: right;
}
#img_contenedor{
    margin-top: 180px;
    margin-left: 90px;
    width: 40%;
    opacity: 0.5;
}


#contenedor{
   width: 100%;
    margin: 0;
    
    height: 400px;

}

#simple{

   width: 90%;
   margin: 0 auto;

}

#simple h1{

    text-align: center;
    font-family: 'Contra';
}

#formulario{

    

}

#cuadroResultados{
    font-family: 'Contra';
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    margin-left: -10px;

}

#formulario input{

    display: block;
    border: 2px solid #000;
    height: 30px;
    padding: 6px;
    margin: 2px;
    width: 250px;
}


#formulario img{
    width: 55px;
    display: inline;
}

#formulario p{
    
    font-family: 'Contra';
    margin-top: -40px;
    margin-left: 60px;
    letter-spacing: 3px;
}

#formulario button, #btn_guardar{

    width: 90%;
    margin-left: 10px;
    margin-top: 20px;
    font-family: 'Contra';
    background: black;
    color: white;
    height: 30px;
    padding: 5px;
    letter-spacing: 3px;
    border: none;
}

img#imgLugar{

    display: none;
    height: 150px;
    width:  300px
  

}

#formulario input::-webkit-input-placeholder {
  background: #FFF;
  color: #737373;
  font-size: 12px;
  letter-spacing: 1px;
}


/*Final estilos del cuerpo*/








/* Estilos Lista de proyectos */

 #rojo, #celeste, #amarillo, #naranjo{
    float: left;
    margin-top: 7px;
    border-radius: 5px;
    width: 50px;
    height: 50px;

 }


 #rojo{
        background: red;
 }

 #celeste{
        background: #3398dc;
 }

 #amarillo{
        background: #f4c601;
 }

 #naranjo{
     background: #f9870b;
 }

 ul#lista-proyectos{

    list-style: none;
    

 }

 ul#lista-proyectos li{

   background-color: #f0f0f0;
   height: 60px;
   margin-bottom: 10px;
 }


 .informacion{
   float: left;
   width: 80%;
   height: 45px;
   padding: 2px;
   color: black;
   margin-top: -60px;
   margin-left: 35px;
   position: relative;
 }


 .informacion span{

    
    float: left;
    margin-right: 5px;
 }

 .fecha-proyecto{
    font-style: italic;
    margin-top: -25px;
    margin-left: 175px;
    position: relative;
    font-size: 9px;
 }

 img.imgThumbUp{
    width: 20px;
    height: 20px;
    margin-left: -255px;
    margin-top: 28px;
    position: relative;
 
 }

 span.span-tipo{
    margin-left: 18px;
    margin-top: -10px;
    font-size: 13px;
 }

 .id_proyecto{
    display: none;
 }

 /*Fin estilo lista de proyectos*/






/*Inicio estilos del menu principal*/
#menuprincipal{
    background:url(../img/fondo.jpg) repeat;
    position:absolute;
    width: 80%;
    height: 100%;
}

#wrapperMenu {
    position:absolute; z-index:1;
    top:0;
    bottom:0; left:0;
    height:100%;
    width:100%;
    overflow:auto;
}

.borde-menu{
    width:5px;
    float:left;
    left:0px;
    height:100%;
    margin-right:10px
}

.color1{
    background:#2ed877;
}

.color2{
    background:#3398dc;
}

.color3{
    background:#f4c601;
}

.color4{
    background:#fa5039;
}

.color5{
    background:#f9870b;
}

.color6{
    background:#00c8a4;
}
/*Fin del estilo del menu principal*/

/*Inicio estilos de las capas internas de los iscroll, tanto cuerpo como menu*/
.scroller {
    position:absolute; z-index:1;
    width:100%;
    padding:0;
}

.scroller ul {
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}

.scroller li:first-child {
    padding:0 10px;
    border-bottom:1px solid #202328;
    border-top:1px solid #202529;
    background-color:#202529;
    height:44px;
    line-height:44px;
    font-size:14px;
    text-align:center;
}

.scroller li {
    border-bottom:1px solid #202328;
    border-top:1px solid #202529;
    background-color:#181c1f;
    height:88px;
    color:#fff
}


.li-menu-activo{
    background-color:#323a40 !important;
}

.scroller li a{
    width:100%;
    text-decoration: none;
}

.scroller li .opcion{
    width:100%;
    padding-top:20px;
    font-size:16px;
    text-shadow: 0 1px #000;
}

.scroller li .descripcion{
    width:100%; 
    padding-top:10px;
    color:#6e7679;
    font-size:12px;
    text-shadow: 0 1px #000;
    padding-bottom:25px
}
/*Fin estilos de las capas internas de los iscroll, tanto cuerpo como menu*/

/*Inicio c—digo de posici—n y transici—n de las p‡ginas*/
.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
 
.page.center {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.page.right {
    -webkit-transform: translate3d(80%, 0, 0);
    transform: translate3d(80%, 0, 0);
}
 
.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}
/*Fin c—digo de posici—n y transici—n de las p‡ginas*/


/*FUENTES*/

@font-face {
    font-family: 'Contra';
    src: url('../fonts/contra-webfont.eot');
    src: url('../fonts/contra-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/contra-webfont.woff') format('woff'),
         url('../fonts/contra-webfont.ttf') format('truetype'),
         url('../fonts/contra-webfont.svg#contraregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
